#back-to-top{
  position: fixed;
  float: right;
  margin-right: 5%;
  font-size: 5em;
  z-index: 99;
  bottom: 20px;
  right: 30px;
  color: white;
}
#back-to-top:hover{
  color: black;
  text-decoration: none;
  font-size: 6em;
}
